#ednt-Activation{}

#ednt-Activation .titles{
	float: left;
	margin-left: 212px;
}
#ednt-Activation .titles h4{
	float: left;
}
#activitionWrapper{
	padding: 20px 25px;
	display: block;
	position: relative;
	height: 130px;
	margin: 0 auto;
	clear: both;
}

.firefox.mac #activitionWrapper{
	padding: 20px 25px 0;
}

.activationInfo{
	float: left;
	display: block;
	position: relative;
	margin-bottom: 20px;
}

.activationInfo p{
	font-size: 12px;
	color: #5b6773;
	text-shadow: 0 1px 0 #fff;
	margin-left: 50px;
	line-height: 20px;
}

.infoIcon{
	background: url(/images/uiIconBig.png) no-repeat 0 -105px;
	height: 32px;
	width: 34px;
	float: left;
	margin: 5px 0 0 0;
}

#toAccSetup{
	margin: 0 auto;
	width: 224px;
}