#ednt-PasswordRecovery{}

#ednt-PasswordRecovery .titles{
	float: left;
	margin-left: 212px;
}
#ednt-PasswordRecovery .titles h4{

}

#passRecovery{
	padding: 20px 25px;
	display: block;
	position: relative;
	height: 130px;
	margin: 0 auto;
	clear: both;
}

.passRecoveryInfo{
	margin-bottom: 10px;
}
.passRecoveryInfo p, .inputEmailLink label{
	font-size: 12px;
	color: #5b6773;
	text-shadow: 0 1px 0 #fff;
	line-height: 20px;
}

.emailRecovery{}

.inputEmailLink{
	float: left;
	margin-bottom: 20px;
}

.inputEmailLink label{
	font-weight: bold;
	float: left;
	margin: 8px 12px 8px 0;
}

.inputEmailLink #emailAddress{
	font-size: 14px;
	border-radius: 3px;
	outline: none;
	border: 2px solid #bcc1c2;
	padding: 10px 3px;
	width: 377px;
	box-shadow: inset 0 1px 2px #c2c9cc;
}

.inputEmailLink #emailAddress:focus{
	outline: #62c5d9 solid 2px;
}

.recoveryAction{}

.recoveryAction .blueBtn{
	float: left;
	
}

.recoveryAction .bronzeBtn{
	margin-left: 15px;
	float: right;
}

#newPasswordReq{
	padding: 20px 25px;
	display: block;
	position: relative;
	margin: 0 auto;
	clear: both;
	height: 230px;
}

.pswrdRequest{
	font-size: 14px;
	border-radius: 3px;
	outline: none;
	border: 2px solid #BCC1C2;
	padding: 10px 3px;
	width: 422px;
	box-shadow: inset 0 1px 2px #c2c9cc;
}

.pswrdRequest:focus{
	outline: #62C5D9 solid 2px;
}