- site_configurations ||= @site_configurations
- @site_configurations_table.render site_configurations do |table|
  - site_configurations.each do |site_configuration|
    - table.tr :id => "site_configuration_#{site_configuration.id}" do
      -table.td {site_configuration.name}
      -table.td {site_configuration.code}
      -table.td {site_configuration.value}
      -table.td(:action, :id => "action_#{site_configuration.id}") do
        = link_to("Edit", edit_admin_site_configuration_path(current_user, site_configuration), {:class => "icon", :title => "Edit site_configuration"} )
        = link_to_remote("Delete", :url => admin_site_configuration_path(current_user, :id => site_configuration.id), :method => :delete, :confirm => "Are you sure want to delete this site_configuration?", :html => {:class => "icon", :title => "Delete Site Configuration"} )