:javascript
  $j(document).ready(function(){
    $j(".lock_bg").corner("5px");
  })

.registration_mid
  .main_all
    .mid_top
      %img{:src => "/images_1/mid_top.png"}/
    .mid_inner
      .mid_inner_content
        .signup_process
          .signup_process_text1 Sign Up process
          .signup_process_text2 Setup your privacy setting and groups
        .line1
          %img{:src => "/images_1/line1.png"}/
        .privacy_group
          = render :partial => "users/user_privacy_setting"
        .next_previous
          .previous_button
            %h4
              = link_to "Previous", new_user_friend_path(current_user, :tab => "friends", :signup => true)
          .next_button
            %h4
              = link_to "Next", done_users_path(current_user, :tab => "done", :signup => true, :privacy_type_id => "1")
    .mid_bottom
      %img{:src => "/images_1/mid_bottom.png"}/


