:javascript
  $j(document).ready(function(){
    round_corner();
    hide_all();
    empty_all();
    sign_up_validations();
  });

.left_content
  - form_for :company, @company, :url => { :action => "create", :controller => "Admin::Companies", :current_user => current_user }, :method => "post" do |f|
    = render :partial => "admin/companies/form", :locals => { :f => f }