#ednt-Pricing{

}

#individualPricingWrapper, #brandPricingWrapper{
	width: 100%;
	float: left;
	margin: 0 0 30px;
}

#brandPricingWrapper{
	margin: 0;
}

#individualPricingWrapper .titles{}

#individualPricingWrapper .titles h1, #brandPricingWrapper .titles h1{
	color: #829399;
	margin-bottom: 25px;
	text-shadow: 0 1px 0 #e5e5e5;
}

#brandPricingWrapper .titles h1 small{
	font-weight: normal;
}

.pricingBox{
	float: right;
	width: 182px !important;
	position: relative;
	text-shadow: 0 1px 0 white;
	padding: 10px 10px 10px 8px;
	color: #98ACB2;
	margin-right: 20px;
	margin-bottom: 25px;
}

#platinumWrap, #premiumWrap{
	margin-left: 0px;
}

.pricingBox .titles{
	border-bottom: 1px solid #dcdfe0;
	padding: 1px 8px 9px;
}

.pricingBox .titles h2{
	text-shadow: 0 1px 0 #fff;
	color: #98acb2;
	margin: 0;
	direction: ltr;
}

.pricePlan{
	position: absolute;
	right: -4px;
	top: 6px;
}

.pricingInner{
	background: url(/images/gradSprites.png) repeat-x 0 -249px;
	border-radius: 3px;
	border: 1px solid #365a12;
	box-shadow: 1px -1px 0 #65bb23 inset;
	font-size: 20px;
	font-weight: bold;
	padding: 3px 10px;
	color: #fff;
	text-shadow: 0 1px 0 #4c901a;
	z-index: 1;
	position: relative;
	direction: ltr;
}

.pricingInner small{
	font-size: 14px;
	font-weight: normal;
}

#round8Icon{
	background: url(/images/uiIcon.png) no-repeat -5px -277px;
	padding: 9px 9px 0 4px;
	height: 9px;
	width: 6px;
	float: right;
	
}

.triangleBack{
	border-width: 3px;
	border-style: solid;
	border-color: transparent transparent transparent #365A12;
	position: absolute;
	bottom: -2px;
	right: -2px;
	z-index: 0;
}

.firefox .triangleBack{
	bottom: -3px;
}

.feature01, .feature02, .feature03, .feature04{
	border-top: 1px solid #edf0f1;
	border-bottom: 1px solid #dcdfe0;
	padding: 10px 0;
}

.choosePlanButton{
	border-top: 1px solid #edf0f1;
	padding: 10px 0 0 4px;
	float: left
}

.choosePlanButton .yellowBtn a, .choosePlanButton .blueBtn a{
	text-align: center;
	padding: 5px 27px !important;
}

.windows .choosePlanButton .yellowBtn a, .windows .choosePlanButton .blueBtn a{
	padding: 4px 27px 5px !important;
}

.uploadIcon, .statusIcon, .themesIcon, .usersIcon, .brandIcon{
	background: url(/images/uiIcon.png) no-repeat;
	height: 25px;
	padding: 5px 35px 0px 5px;
	display: block;
	width: 154px;
	font-size: 14px;
}

.uploadIcon{
	background-position: 160px -66px;
}

.statusIcon{
	background-position: 162px -107px;
	font-size: 12px;
	padding: 0 35px 0 7px;
}

.themesIcon{
	background-position: 195px -150px;
	padding: 3px 35px 0 35px;
}

.usersIcon{
	background-position: right -195px;
}

.brandIcon{
	background-position: right -234px;
}

.standardFeatures{
	float: right;
	background: #dbe1e3;
	margin-bottom: 25px;, 
}

.standardFeatures ul{}

.standardFeatures li.stdTitle{
	font-weight: normal;
	padding: 10px 10px;
}

.standardFeatures li{
	display: inline;
	float: right;
	font-size: 12px;
	font-weight: bold;
	color: #335966;
	text-shadow: 0 1px 0 #EBEBEB;
	padding: 10px 0px;
}

.standardFeatures li span{
	background: url(/images/uiIcon.png) no-repeat right -319px;
	height: 10px;
	padding: 1px 30px 0 10px;
	float: right;
}

#brandPricingStarred{
	float: left;
	width: 100%;
	margin-top: 20px;
	text-shadow: 0 1px 0 #e5e5e5;
}

span.starred{
	font-size: 20px;
	font-weight: normal;
	line-height: 0;
	float: right;
}

#brandPricingStarred ul{
	margin-left: 15px;
}

#brandPricingStarred li{
	color: #335966;
	list-style: disc outside none;
	float: right;
	width: 100%;
	padding: 5px 0 5px;
	line-height: 20px;
	margin-right: 16px;

}
