:javascript
  $j('.button').corner("4px");
  $('RB_window').style.width = "300px";
  $("RB_window").style['left'] = ((document.body.clientWidth - 300)/2) + "px";
.dialogs
  .dialog_details
    %p
      Are you sure ? 
    %br
    .float_left
      = button_to_close_redbox("#{t :cancel}", :class => "button")
      %span.button.button_anchor{:style=> "margin-top: 3px;"}
        = link_to "#{t :ok}", {:controller => :users, :action => :free_account}
