%form{:action => "https://www.cashu.com/cgi-bin/pcashu.cgi", :method => "post"}
  %input{:name => "merchant_id", :type => "hidden", :value => "edintity"}
  %input{:name => "token", :type => "hidden", :value => "daa996577e32131f8d7865d0c4479de1"}
  %input{:name => "test_mode", :type => "hidden", :value => "1"}
  %input{:name => "display_text", :type => "hidden", :value => "Premium"}
  %input{:name => "currency", :type => "hidden", :value => "USD"}
  %input{:name => "amount", :type => "hidden", :value => "1"}
  %input{:name => "language", :type => "hidden", :value => "en"}
  %input{:name => "session_id", :type => "hidden", :value => rand(1234567890)}
  %input{:name => "txt1", :type => "hidden", :value => "Membership"}
  %input{:name => "txt2", :type => "hidden", :value => ""}
  %input{:name => "txt3", :type => "hidden", :value => ""}
  %input{:name => "txt4", :type => "hidden", :value => ""}
  %input{:name => "txt5", :type => "hidden", :value => ""}
  = image_submit_tag("services/cashu.gif", :style => "height: 60px;")
  = image_submit_tag("services/paypal.gif", :style => "height: 60px;")
