#mainContent
  #ednt-Activation.ednt-Wrapper
    .titles
      %h4=t :done_header
    #activitionWrapper.MP-boxes.welcomePageWrapper
      .activationInfo
        %span.infoIcon
        %p
          = t :welcome_message, :plan_name => current_user.membership.name
      .clear_both
      #welcome_page.blueBtn
        = link_to "#{t :done_link}", root_url

:javascript
  setTimeout("window.location='#{url_for(root_path)}'", 5000)