- if @privacy_groups.count > 0
  =t :your_post_type
  = select_tag "privacy_grp", "<option value=''>select</option>" + options_from_collection_for_select(@privacy_groups, "id", "name"), :onchange =>remote_function(:url => {:action => :edit_form }, :with => "'id='+ +this.options[this.selectedIndex].value")
- else
  =t :no_pg_text