#privacy_settings
  .columns
    .column{:style => "height:200px;"}
      .privacy_header
        #content_header_for_privacy_page
          .text_header{:style => "width:784px;"}
          .clear
      #content_for_privacy_page{:style => "margin-left: 16px;margin-top: 10px;padding: 6px;"}
      .privacy_text
        %strong.float_left{:style => "width:200px;"}
      .clear
      %br
  .columns
    #content_for_privacy_page{:style => "border:1px solid white;margin-left: 16px;margin-top: 10px;padding: 6px;"}
  .clear

