- fields_for :asset do |f|
  - f.hidden_field :panel_type_id, :value => panel_type.id
  = hidden_field_tag :form_id, file_id
  = f.file_field :file, :size => 1, :onchange => "upload_file('#{file_id}');"