#search_results{:style => "color:#0C3646;margin:15px;"}
  %b
    =t :custom_streams
  .search_header{:style => "font-size:10pt;margin-top:10px"}
    .float_left
      =t :showing_streams_of
      #{@custom_stream.name.upcase}
    .clear