.columns
  .width_25
    -if !request.xhr? || @new_record == true
      .resource_panel
        - rounded_box_for( |
            nil, |
            :header => {:text => "Manage Users", :level => 4, :color => "green"}, |
            :footer => { :color => "chrome"}, |
            :group_name => "resource" |
          ) do |rounded_box| |
          = render :partial => "users_list"
    -else
      = render :partial => "users_list"
    - total_flag =  (@users.total_entries.to_i % (params[:per_page].blank? ? 10 : params[:per_page]).to_i)
= update_rounded_box_actions( |
    [ |
      link_to("Download To CSV", admin_users_path(:per_page => @users.count, :page => 1 , :format => "csv"), :class => "button"), |
      link_to("Add", new_admin_user_path(:per_page => params[:per_page], :page => @users.total_pages + (total_flag > 0 ? 0 : 1) ), :class => "button") |
    ], |
    :group_name => 'resource' |
  ) |
