- if current_user or sign_up == "true" or (params[:controller] == "users" and params[:action] == "done") or  (params[:controller] == "users" and params[:action] == "new")
    = render :partial => "layouts/site_navigation"